.containerCart{
    height: 100%;
}

.cart{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.cart > h1{
    width: 100%;
}
.cart > Table{
    width: 80%;

}
.containerButton{
    display: flex;
    justify-content: space-evenly;
}

.containerButton > button, .containerButton > a{
    width: auto;
    margin: 1rem;
}

.linkProduct, .linkProduct:hover{
    text-decoration: none;
    color: black;
}
